*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#root {
  height: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  text-align: center;
  padding-bottom: 15px;
}

.head {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
}
@media (max-width: 800px) {
  .head {
    margin: 15px 0;
    font-size: 35px;
  }
}

@media (max-width: 540px) {
  .head {
    font-size: 25px;
  }
}
